@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.animation-delay-100 {
		animation-delay: 100ms;
	}

	.animation-delay-300 {
		animation-delay: 300ms;
	}

	.animation-delay-500 {
		animation-delay: 500ms;
	}

	.animation-delay-700 {
		animation-delay: 700ms;
	}

	.animation-delay-1000 {
		animation-delay: 1000ms;
	}
}
